<div class="page">
    <div class="keyart" id="parallax">
        <div class="keyart_layer" id="keyart-6"></div>
        <div class="keyart_layer" id="keyart-5"></div>
        <div class="keyart_layer" id="keyart-4"></div>
        <div class="keyart_layer" id="keyart-3"></div>
        <div class="keyart_layer" id="keyart-2"></div>
        <div class="keyart_layer" id="keyart-1"></div>
    </div>

    <div class="overflow">
        <h1>Blog de viajes</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem repellendus laborum repudiandae? Unde
            odit corrupti labore voluptatum atque, earum distinctio esse debitis omnis dolorem, temporibus eveniet amet
            beatae quod? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora consectetur maxime sapiente
            magnam id voluptas incidunt velit, quos atque placeat, voluptate odit praesentium nihil sequi quam quia,
            adipisci laboriosam. Repellat!</p>
    </div>
</div>